.terceiro1 {width: 600px;
    position: relative;
left: 1400px;
top: -60px;}
.terceiro2 {width: 600px;
    position: relative;
left: 1500px;
top: -60px;}
.terceiro3 {width: 600px;
    position: relative;
left: 500px;
top: 600px;}